<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
     SPDX-License-Identifier: MIT-0 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>GenAI at the Edge on AWS Outposts - RAG</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/RAG.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="header-container">
                <h1 class="amazonember_lt-font">Generative AI at the Edge on AWS Outposts - RAG</h1>
            </div>
            <div class="chat-container">
                <div class="chatbot">
                    <h2>Mistral 7B without RAG</h2>
                    <div class="chat-box">
                        <textarea class="chat-output" id="chat-output-without-rag" readonly></textarea>
                        <div id="metrics1" class="metrics"></div>
                    </div>
                </div>
                <div class="chatbot">
                    <h2>Mistral 7B with RAG</h2>
                    <div class="chat-box">
                        <textarea class="chat-output" id="chat-output-with-rag" readonly></textarea>
                        <div id="metrics2" class="metrics"></div>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button class="action-button" id="send-button">Send</button>
                <button class="clean-button" id="clear-button">Clear</button>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="/static/scripts/rag.js"></script>
    </body>
</html>
